body{
  background-color: rgba(0, 0, 255, 0.274);
}

.container {
  max-width: 90%;
}
.inputcont{
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction:column;
}

.displaycont{
  margin-top: 50px;
  width: 500px;
  display: flex;
  align-content: center;
  flex-direction: column;
  /* background-color: aqua; */
}
.items{
  display: flex;
  flex-direction:row;
}
h3{
  display: flex;
justify-content: center;
margin-bottom: 5px;
}

body{
  overflow: hidden;
}




/* Weather  */
.display{
  width: 100vw;
  height: 1500px;
  display: flex;
  justify-content: center;
}

.display-weather{
  margin-top: 100px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  color: white;
  box-shadow: 0px 0px 15px 0px black;
  width: 80%;
}
.icon-city{
  display: flex;
  flex-direction:column;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
.weathermood{
  writing-mode:vertical-lr;
  font-size: small;
}
.icon{
  font-size: 300%;
}

.extra{
  margin-top: 30px;
    display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  background-color: rgba(8, 12, 15, 0.281);
}


.input{
  background:transparent;
  border: none;
  outline: hidden;
}
.extra-detail{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  /* font-weight: bolder; */
}

.row{
  margin-right: 0px;
  margin-left: 0px;
}

.display-time{
  max-height: 25%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(8, 12, 15, 0.281);
}

.time{
  font-size: 170%;
}

.container-fluid{
  margin: 0px;
  padding: 0px;
  background-size: cover;
  background-position: center;
    z-index: 1;
      /* opacity: 0.5; */
      filter: alpha(opacity=100);
}
.footer{
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 0px;
}